body {
  min-height: 100vh;
}

.info_wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.info_wrapper img {
  max-width: 100%;
  flex: 1 1 15rem;
}

.service_info_wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.testimonials_wrapper {
  margin: 6rem auto;
  width: fit-content;
  text-align: center;
}

.testimonials_wrapper h2 {
  text-transform: uppercase;
  font-family: 'Fraunces', sans-serif;
  color: hsl(210, 4%, 67%);
  letter-spacing: .35rem;
  font-size: 1.2rem;
}

.testimonials {
  margin-top: 2rem;
  display: flex;  
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}